In [1]:
#create
t1=()
t2=10,20
t3=(10,20.5,10,'Rahul',True,[],{100})
t4=tuple(range(10))

#Read
print(t1)
print(t2)
print(t3)
print(t4)

()
(10, 20)
(10, 20.5, 10, 'Rahul', True, [], {100})
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
t2=10,20
a,b=10,20
print(t2)
print(a)
print(b)

(10, 20)
10
20

In [3]:
#tuple function
t1=tuple([10,20,30,40])
t2=tuple({10,10,10,20})
t3=tuple("Rahul")
t4=tuple(range(10))

print(t1)
print(t2)
print(t3)
print(t4)

(10, 20, 30, 40)
(10, 20)
('R', 'a', 'h', 'u', 'l')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [4]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith')

print(enames[0])
print(enames[1])
print(enames[2])

Rahul
Sonia
Priyanka

In [5]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith')
#we can iterate tuple object using for and while

for ename in enames:
    print(ename)

Rahul
Sonia
Priyanka
Modi
Amith

In [7]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith')
#we can iterate tuple object using for and while

i=0
while i<=len(enames)-1:
    print(enames[i])
    i=i+1

Rahul
Sonia
Priyanka
Modi
Amith

In [8]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith')

enames[1] = 'Sonia Gandhi'

TypeError: 'tuple' object does not support item assignment

In [12]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith')

enames.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [13]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rahul')

print(enames.count('Rahul'))
#what is count method?

2

In [14]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rahul')

print(enames.index('Modi'))

3