In [1]:
enames=['Rahul','Sonia','Priyanka',"Modi"]
enames.append("Amith")
print(enames)

['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']

In [2]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']
#         0        1         2          3       4
# insert "Rajiv Gandhi" at index 1 - using index method
#what is list index method. insert elemnt at specified index value

names.insert("rajiv",1)
print(names)

TypeError: 'str' object cannot be interpreted as an integer

In [3]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']
#         0        1        2            3      4
names.insert(1,"Rajiv")
print(names)

#['Rahul', 'Rajiv', 'Sonia', 'Priyanka', 'Modi', 'Amith']
#   0         1         2        3           4         5

['Rahul', 'Rajiv', 'Sonia', 'Priyanka', 'Modi', 'Amith']

In [4]:
#what is extend()
l1=[10,20,30]
l2=[40,50,60]
l1.extend(l2)

print(l1)

[10, 20, 30, 40, 50, 60]

In [5]:
l1=[10,20,30]
l1.extend(40)

TypeError: 'int' object is not iterable

In [6]:
l1=[10,20,30]
l1.extend([40])
print(l1)

[10, 20, 30, 40]

In [7]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']
#delete - remove() and pop() and clear()

#when to use remove() and pop()
#what is pop() - method. remove last element from list and return it

names.pop()
print(names)

['Rahul', 'Sonia', 'Priyanka', 'Modi']

In [8]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']
#del names

print(names)

NameError: name 'names' is not defined

In [9]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']
#del names

print(names)

['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']

In [10]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']

names.pop()
print(names)

['Rahul', 'Sonia', 'Priyanka', 'Modi']

In [11]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']
name = names.pop()  # remove lat elment from list and return the removed element

print(names)
print(name)

['Rahul', 'Sonia', 'Priyanka', 'Modi']
Amith

In [12]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']
names.remove('Rahul')
print(names)

['Sonia', 'Priyanka', 'Modi', 'Amith']

In [13]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']
names.remove('Appu')
print(names)

ValueError: list.remove(x): x not in list

In [14]:
l1=[]
l1.pop()

IndexError: pop from empty list

In [15]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']
names.clear()

print(names)

[]

In [16]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']

del names

print(names)

NameError: name 'names' is not defined

In [17]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']

names.sort() # Natural Sorting order 

print(names)

['Amith', 'Modi', 'Priyanka', 'Rahul', 'Sonia']

In [18]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']

names.reverse()
print(names)

['Amith', 'Modi', 'Priyanka', 'Sonia', 'Rahul']

In [19]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']

#names.sort() # Natural Sorting order - asending 
#['Amith', 'Modi', 'Priyanka', 'Rahul', 'Sonia']
names.sort(desc=True)
print(names)

TypeError: 'desc' is an invalid keyword argument for sort()

In [20]:
names=['Rahul', 'Sonia', 'Priyanka', 'Modi', 'Amith']

#names.sort() # Natural Sorting order - asending 
#['Amith', 'Modi', 'Priyanka', 'Rahul', 'Sonia']
names.sort(reverse=True)
print(names)

['Sonia', 'Rahul', 'Priyanka', 'Modi', 'Amith']

In [21]:
l1=[5,78,2,50,3]
l1.sort()
print(l1)

[2, 3, 5, 50, 78]

In [22]:
l1=[5,78,2,50,3]
l1.sort(reverse=True)
print(l1)

[78, 50, 5, 3, 2]