In [2]:
#bytes    -Immutable - group values in between 0 to 255
#bytearray-Mutable

l1 =[10,20,100,256]
b = bytes(l1)
ba = bytearray(l1)
print(b)
print(ba)

#print data types

print(type(b))
print(type(ba))

ValueError: bytes must be in range(0, 256)

In [3]:
s1 = {101,102,103,104,101,102,103,104}
print(s1)

{104, 101, 102, 103}

In [4]:
s1 = {101,102,103,104,101,102,103,104}

#create fs object
fs = frozenset(s1)
print(fs)
print(type(fs))

frozenset({104, 101, 102, 103})
<class 'frozenset'>

In [5]:
r1 = range()

TypeError: range expected at least 1 argument, got 0

In [6]:
r1 = range(10)
r2= range(1,50)
r3 = range(5,51,5)
#r4= range(100,0,-1)
#r5 = range(1,11)

#r6= range(10,0,-1)

In [8]:
r1 = range(10)
r2= range(1,50)
r3 = range(5,51,5)

print(r1)
print(r2)
print(r3)
print(type(r1))
print(type(r2))
print(type(r3))

range(0, 10)
range(1, 50)
range(5, 51, 5)
<class 'range'>
<class 'range'>
<class 'range'>

In [10]:
# print 1 to 10
# print 10 to 1

for i in range(1,11):
    print(i)

for i in range(10,0,-1):
    print(i)

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1

In [11]:
#print NoneType - Data
# how to represent null value in python - using None.

a= null
print(a)

NameError: name 'null' is not defined

In [12]:
a= None
print(type(a))

<class 'NoneType'>

In [16]:
def cal_Age():
    #return 42
    pass

print(cal_Age())
print(type(cal_Age()))

None
<class 'NoneType'>